.rm {
    @apply text-gray-700;
}

.rm h1 {
    @apply text-4xl font-extrabold mb-2 text-gray-700;
}

@screen sm {
    .rm h1 {
        @apply text-5xl;
    }
}

/* //sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 */
.rm h2 {
    @apply text-3xl font-bold mt-16;
}

.rm h3 {
    @apply text-2xl font-semibold mt-12
}

.rm h4 {
    @apply text-xl font-medium mt-4
}

.rm p {
    @apply mt-4 mb-6 text-gray-700;
}


.rm ol li>ol li {
    list-style: lower-alpha outside;
    @apply pl-2 -ml-2
}

.rm ol li>ol {
    @apply my-1
}

.rm ol {
    @apply my-1 pl-4 ml-2 text-gray-700
}

.rm ul>li {
    list-style: square inside none;
    @apply my-1 text-gray-700
}

.rm ol>li {
    list-style: outside decimal;
    @apply my-1 pl-2
}

.rm ul>li {
    @apply my-1
}

.rm ul li>ul li {
    list-style: disc inside;
    @apply ml-6
}

.rm ul li>ol li {
    list-style: lower-alpha outside;
    @apply pl-2 ml-4
}

.rm ol li>ul li {
    list-style: disc inside;

}

.rm li>p {
    display: inline;
}

.rm pre {
    @apply text-lg
}

.rm img {
    @apply mt-8 mb-2 mx-auto w-1/2
}