@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
}

.hover-fade {
    @apply transition duration-300 ease-in-out;

}

.btn {
    @apply bg-indigo-600 border rounded-md text-base font-medium text-white transition duration-300 ease-in-out;
}

.btn:focus {
    @apply ring-2 ring-offset-2 ring-indigo-500;
}

.btn:hover {
    @apply bg-indigo-700 shadow-md;
}

[id]::before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}